@import "variables";

footer {
  background-color: #333;
  color: white;
  margin-top: 80px;
  padding: 30px 0;
  display: grid;
  grid-template-columns: 2fr 13fr 5fr 35fr 5fr 13fr 1fr ;
  @media(max-width: $mq-narrow) {
    background-color: black;
    color: white;
    padding: 30px 1em;
    display: block;
  }

  a {
    text-decoration: none;
    color: white;
  }

  a:hover {
    color: $texty-salmon;
  }

  li, p {
    font-size: 16px;
    margin: 5px 0;
  }
}

/* копірайт колонка */
#logo-copyright {
  grid-column: 2/3;

  .copyright {
    margin-top: 20px;
  }

  a.texty-logo {
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      margin:auto;
    }
  }

  #license {
    grid-column: 2/-1;
    margin-top: 50px;
    font-size: 14px;
  }
}


/* лінки */
#guide-block {
  grid-column: 4/5;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  @media(max-width: 1050px){
    grid-template-columns: repeat(2, 1fr);
  }
  @media(max-width: $mq-narrow){
    display: none;
  }

  ul {
    list-style-type: none;
    margin: 0;
  }
}


/* соціальні мережі */
#social_buttons {
  grid-column: -3/-2;
  @media(max-width: $mq-narrow) {
    margin-top: 50px;
  }

  img {
    width: 30px;
    margin-right: 10px;
  }
}




