$mq-narrow: 800px;
$texty-salmon: #ed6746;

@font-face {
  font-family: 'ProximaNova';
  src: url('../font/proxima_regular/proxima-nova-regular.eot');
  src: url('../font/proxima_regular/proxima-nova-regular.eot?#iefix') format('embedded-opentype'),
  url('../font/proxima_regular/proxima-nova-regular.woff2') format('woff2'),
  url('../font/proxima_regular/proxima-nova-regular.woff') format('woff'),
  url('../font/proxima_regular/proxima-nova-regular.ttf') format('truetype'),
  url('../font/proxima_regular/proxima-nova-regular.svg#youworkforthem') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('../font/proxima_bold/proxima-nova-bold.eot');
  src: url('../font/proxima_bold/proxima-nova-bold.eot?#iefix') format('embedded-opentype'),
  url('../font/proxima_bold/proxima-nova-bold.woff2') format('woff2'),
  url('../font/proxima_bold/proxima-nova-bold.woff') format('woff'),
  url('../font/proxima_bold/proxima-nova-bold.ttf') format('truetype'),
  url('../font/proxima_bold/proxima-nova-bold.svg#youworkforthem') format('svg');
  font-weight: 600;
  font-style: normal;
}
